<!DOCTYPE html>
<html>
<head>
<title>User</title>
<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'application' %>
</head>
  
<body>
  <%= render "common/navbar" %>
  <div class="main-content">
    <%= yield %>
  </div>
</body>
</html>